@use 'sass:map';
@use 'sass:math';
// 1. RESPONSIVE BREAKPOINTS
$maxWidth: 1400px;
$minWidth: 390px;

// Breakpoints map
$breakpoints: (
    xs: 0,
    xxsm: 350,
    xssm: 450,
    xsm: 500,
    sm: 576,
    smd: 650,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400,
);

// Responsive adaptive value mixin
@mixin adaptiveValue($property, $desktopValue, $mobileValue, $unit: px) {
    $addSize: #{$desktopValue - $mobileValue};
    $widthDiff: math.div($maxWidth - $minWidth, 1px); // Convert to unitless number

    #{$property}: calc(#{$mobileValue}#{$unit} + #{$addSize} * ((100vw - #{$minWidth}) / #{$widthDiff}));

    @media (min-width: #{$maxWidth}) {
        #{$property}: #{$desktopValue}#{$unit};
    }
}

@mixin bgProps($size: cover, $repeat: no-repeat, $position: center) {
    background-size: $size;
    background-repeat: $repeat;
    background-position: $position;
}

@mixin responsive-image($width: 16, $height: 10, $fit: cover) {
    $aspect-ratio: $width / $height;
    position: relative;
    width: 100%;
    padding-top: calc(100% / $aspect-ratio);
    overflow: hidden;

    img,
    picture,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: $fit;
    }
}

// Media query mixins
@mixin media-breakpoint-up($name) {
    $min: map.get($breakpoints, $name);

    @if $min ==null {
        @warn "Breakpoint `#{$name}` not found in \$breakpoints map.";
        @content;
    }

    @else if $min ==0 {
        @content;
    }

    @else {
        @media (min-width: #{$min}px) {
            @content;
        }
    }
}

.responsive-image {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &._contain {
        img {
            object-fit: contain;
        }
    }
}

body {
    color: #313131;

    &.lock {
        overflow: hidden;
        /* Чтобы на мобилках точно не дергалось */
        touch-action: none;
    }
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background: #111111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: var(--preloader-bg-mobile, none);
    background-size: cover;
    background-position: center;

    .logo {
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 2s;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        filter: blur(6px);
    }

    .sm-opener_content {
        z-index: 2;
        cursor: pointer;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);

        .sm-envelope_back {
            width: 100%;
            height: 563px;
            background: url(../img/envelope_back.webp) 50% 50% no-repeat;
            background-size: cover;
            position: relative;
            transform: rotate(-10deg) translate(-30px, -50px);
            overflow: hidden;

            .sm-envelope_card {
                width: 300px;
                height: 200px;
                position: absolute;
                z-index: 2;
                background-size: contain;
                background: url(../img/envelope_text.webp) 50% 50% no-repeat;
                left: 50%;
                transform: translateX(-50%);
                top: 100%;
                transition: top .5s;

                .sm-envelope_card-text {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    @include adaptiveValue(font-size, 30, 14)
                }


            }

            .sm-envelope_front {
                width: 100%;
                height: 356px;
                background: url(../img/envcover.webp) 50% 50% no-repeat;
                position: absolute;
                z-index: 3;
                bottom: 0;
                background-size: contain;

                .sm-intro_wrapper {
                    width: 100%;
                    height: 140px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 20px;
                    object-position: center;
                    object-fit: contain;

                    .sm-intro_string-1 {
                        font-size: 20px;
                        font-family: "Alegreya", serif;
                        text-align: center;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                    }

                    .sm-intro_string-2 {
                        font-size: 40px;
                        line-height: 30px;
                        font-family: "Great Vibes", cursive;
                        text-align: center;
                    }
                }
            }


        }

        @media (max-width: 500px) {
            max-width: 300px;
            transform: translate(-50%, -35%);

            .sm-envelope_back {
                transform: rotate(-10deg) translate(0, -50px);
                height: 344px;

                .sm-envelope_card {
                    width: 190px;
                    height: 150px;
                }

                .sm-envelope_front {
                    height: 218px;

                    .sm-intro_wrapper {
                        bottom: 0;
                        height: 125px;
                        transform: translateX(-50%) scale(.7);
                    }
                }
            }
        }
    }

    &.active {
        .sm-opener_content {
            .sm-envelope_card {
                top: 30%;
            }
        }
    }
}

.sm-opener_content-bottom {
    font-family: "Cormorant", serif;
    color: #dad4c4;
}

.sm-opener_content-button {
    position: relative;

    .icon-icons8-forefinger-50 {
        &::before {
            font-size: 50px;
            content: "\e928";
            color: #dad4c4;
        }
    }

    .pulse-circle {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        border: 2px solid #dad4c4;
        border-radius: 50%;
        top: -3px;
        left: 13px;
        animation: circleAnim 1s 0s infinite;
        animation-timing-function:
            ease-in-out;
    }

    @keyframes circleAnim {

        0% {
            opacity: 0;
        }

        50% {
            transform: scale(1.7);
            opacity: .3;
        }

        100% {
            transform: scale(2.2);
            opacity: 0;
        }
    }
}

.section {
    @include bgProps(cover, no-repeat, center);

    &._flowest {
        background-image: url(../img/flowest111.png);
    }

    &._paper {
        background-image: url(../img/paper.jpg);
    }

    &._p-bg {
        @include adaptiveValue(padding-block, 50, 50);
    }
}

.section-hero {
    .section-hero__content {
        display: flex;
        flex-direction: column;
        // gap: 280px;
        align-items: center;
        @include adaptiveValue(height, 800, 600);
        justify-content: space-between;

        .section-hero__content-top {
            display: flex;
            flex-direction: column;
            align-items: end;

            h2 {
                color: #313131;
                text-transform: uppercase;
                font-family: "Playfair Display", serif;
                font-size: 40px;
            }

            .section-hero__content-date {
                display: flex;
                flex-direction: column;
                color: #313131;
                font-family: "Cormorant", serif;
                font-size: 50px;
                line-height: 90%;
                text-align: center;

                @include media-breakpoint-up(lg) {
                    font-size: 80px;
                    line-height: 111%;
                }
            }

            @include media-breakpoint-up(lg) {
                align-items: center;
                gap: 180px;
            }
        }


        h1 {
            color: #313131;
            text-transform: uppercase;
            font-family: "Viaoda Libre", serif;
            font-size: 55px;
        }

        @include media-breakpoint-up(lg) {
            // gap: 180px;
        }
    }
}

.section-hero__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    top: 20%;

    .photo-card {
        display: flex;
        @include adaptiveValue(width, 350, 300);
        // @include adaptiveValue(height, 350, 250);
        height: fit-content;
        flex-direction: column;
        gap: 10px;
        background-color: #FFFFFF;
        padding-inline: 15px;
        padding-block: 15px;
        transform: rotate(-15deg);

        .photo-card__image {
            .photo-card__image-inner {
                @include responsive-image(1, 1, cover);
            }
        }

        h3 {
            font-family: 'Cormorant Garamond', serif;
            font-size: 20px;
            color: #313131;
            line-height: 111%;


        }

        &._rotate {
            transform: rotate(15deg);
            margin-top: 100px;
        }

        .heart {
            color: #ff5c9a;

        }
    }


}

.moment-content {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    .line {
        width: 1px;
        height: 130px;
        background: #313131;
    }

    h2 {
        font-size: 64px;
        @include adaptiveValue(font-size, 64, 56);
        font-family: "Viaoda Libre", serif;
        font-weight: 400;
        font-style: normal;
        line-height: 111%;
        text-transform: uppercase;
    }

    p {
        font-size: 20px;
        font-family: "Cormorant", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        line-height: 111%;
        text-transform: uppercase;
    }

    img {
        width: 50px;
        height: 50px;
    }
}

.wedding-date {
    color: #6c6c6c;
    font-family: 'Cormorant', serif;

    @media (max-width: 991px) {
        padding-block: 70px;
    }

    @media (max-width: 575px) {
        padding-block: 50px;
    }

    &__title {
        font-size: clamp(28px, 5vw, 48px);
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: #bdbdbd;
    }

    &__month {
        font-size: clamp(16px, 3vw, 22px);
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    &__text {
        margin-top: 50px;
        font-size: clamp(14px, 2.5vw, 20px);
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1.6;
        padding-inline: 10px;
    }

    &__date {
        margin-top: 25px;
        font-size: clamp(18px, 4vw, 32px);
        letter-spacing: 4px;
    }

    .calendar-block {
        background-color: #FFFFFF;
        border-radius: 125px 0 125px 0;
        padding: 60px 40px;
        display: flex;
        flex-direction: column;
        @include adaptiveValue(gap, 10, 20);

        @media (max-width: 991px) {
            padding: 40px 25px;
            border-radius: 80px 0 80px 0;
        }

        @media (max-width: 575px) {
            padding: 30px 20px;
            border-radius: 50px 0 50px 0;
        }
    }
}

.calendar {
    max-width: 420px;
    margin: 0 auto;
    color: #313131;

    @media (max-width: 575px) {
        max-width: 100%;
    }

    div {
        padding: 5px;
    }

    &__weekdays,
    &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
    }

    &__weekdays {
        margin-bottom: 15px;
        font-size: clamp(10px, 2vw, 14px);
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    &__days {
        gap: clamp(8px, 2vw, 18px);
        font-size: clamp(14px, 3vw, 20px);
    }

    &__day {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &--active {
            position: relative;
            font-weight: 500;

            &::after {
                content: "";
                position: absolute;
                width: 42px;
                height: 42px;
                border: 1.5px solid #6c6c6c;
                border-radius: 50%;
                transform: rotate(-12deg);

                /* незамкнутый круг */
                clip-path: polygon(0% 0%,
                        100% 0%,
                        100% 85%,
                        0% 100%);
            }

            @media (max-width: 575px) {
                &::after {
                    width: 34px;
                    height: 34px;
                }
            }
        }
    }
}

.location-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Cormorant', serif;


    h1 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;

        @include media-breakpoint-up(lg) {
            text-align: start;
        }
    }

    h3 {
        font-size: 36px;

        span {
            font-weight: 100;
        }
    }

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        opacity: 40%;
    }

    @include media-breakpoint-up(lg) {
        gap: 10px;
    }
}

.location-marker {
    position: absolute;
    bottom: -50px;
    justify-self: center;
    @include adaptiveValue(width, 130, 100);
    @include adaptiveValue(height, 130, 100);
    color: #313131;
    text-decoration: none;
    border: 1px solid #313131;
    border-radius: 50%;

    font-family: "Cormorant", sans-serif;
    @include adaptiveValue(font-size, 18, 14);
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .04em;
    text-align: center;
    background: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;

    &:hover {
        color: #FFFFFF;
        background-color: #313131;
    }

    @include media-breakpoint-up(lg) {
        align-self: anchor-center;
        bottom: auto;
        left: -50px;
    }
}

.timing {
    .section-title {
        font-family: "Cormorant", serif;
        font-size: 70px;
        text-transform: uppercase;
        text-align: center;
        opacity: 75%;
    }

    .timings {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;

        .timing-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            img {
                height: 85px;
            }

            .timing-item-title {
                font-size: 32px;
                font-family: "Source Serif 4", serif;

                h1 {
                    font-weight: 300;
                }
            }
        }
    }
}

.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptiveValue(padding-inline, 100, 30);
    @include adaptiveValue(padding-block, 50, 10);
    background-color: #FFFFFF;
    border-radius: 50px 0 50px 0;
    @include adaptiveValue(gap, 50, 15);

    h1 {
        @include adaptiveValue(font-size, 36, 11);
        color: #313131;
        text-transform: uppercase;
        font-family: "Viaoda Libre", serif;
        opacity: 30%;
    }

    .timer {
        display: flex;
        flex-direction: row;
        @include adaptiveValue(gap, 38, 9);


        .timer-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include adaptiveValue(gap, 8, 3);


            .count {
                display: flex;
                flex-direction: row;
                @include adaptiveValue(gap, 7, 3);

                div {
                    padding-block: 10px;
                    padding-inline: 20px;
                    @include adaptiveValue(padding-inline, 20, 6);
                    @include adaptiveValue(padding-block, 10, 0);
                    @include adaptiveValue(font-size, 40, 13);
                    border: 1px solid #C6C4C4;
                }
            }

        }
    }

    @include media-breakpoint-up(lg) {
        border-radius: 125px 0 125px 0;
    }
}


.wishe {

    h1 {
        font-family: "Cormorant", serif;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }

    .swiper-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .slider-nav {
            display: flex;
            align-items: center;
            gap: 40px;
            width: fit-content;

            .nav-btn {
                cursor: pointer;
                font-size: 20px;
                user-select: none;
                font-family: "Cormorant", serif;
            }

            .pagination {
                font-size: 18px;

            }
        }

        p {
            font-family: "Cormorant", serif;
            margin: 0;
            font-size: 24px;
            text-transform: uppercase;
            opacity: 50%;
        }
    }

    .wishe-card {

        p {
            font-family: "Cormorant", serif;
            font-size: 16px;
            text-transform: uppercase;
            text-align: center;
            color: #313131;
        }

    }

    .wishe-date {
        text-align: center;
        margin-top: 50px;
        font-family: "Viaoda Libre", serif;
        opacity: 8%;
        @include adaptiveValue(font-size, 150, 40);
    }
}

.rsvp-card {
    max-width: 640px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(6px);
    padding: 50px;
    border-radius: 40px;

    @media (max-width: 768px) {
        padding: 30px;
        border-radius: 25px;
    }
}

.form-title {
    font-size: 20px;
    font-weight: 400;
    color: #2f2f2f;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2f2f2f;
}

.custom-input {
    border-radius: 18px;
    padding: 14px 20px;
    border: 1px solid #6f6f6f;
    font-size: 16px;

    &:focus {
        border-color: #bfa88f;
        box-shadow: none;
    }
}

.form-check {
    margin-bottom: 8px;

    .form-check-input {
        width: 18px;
        height: 18px;
        margin-top: 4px;
        border: 1px solid #6f6f6f;

        &:checked {
            background-color: #bfa88f;
            border-color: #bfa88f;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .form-check-label {
        margin-left: 6px;
        font-size: 16px;
    }
}

.btn-submit {
    margin-top: 10px;
    border-radius: 20px;
    padding: 12px 30px;
    background: #bfa88f;
    color: white;
    border: none;

    &:hover {
        background: #a89277;
    }
}

.wedding-footer {
    padding: 70px 0;

    .footer-text {
        font-family: "Cormorant Garamond", serif; // можно заменить
        font-size: 20px;
        letter-spacing: 1px;
        color: #8a8a8a;
        line-height: 1.5;
        text-transform: uppercase;
    }

    .heart {
        color: #ff5c9a;
        margin-left: 4px;
    }

    @media (max-width: 768px) {
        padding: 50px 0;

        .footer-text {
            font-size: 18px;
        }
    }
}